body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.auth-container {
  display: flex;
  width: 150%; /* יותר מקום לרוחב */
  max-width: 1700px; /* הגדלת המקסימום */
  height: 85vh; /* שומר על גובה אחיד */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.auth-left {
  flex: 2.5; 
  max-width: 1800px;
  background: url('C:\Users\hadar\OneDrive\שולחן העבודה\לימודים\MelodyLink\melody-link\client\src\assets\login.png') no-repeat center center;
  background-size: cover;
  border-radius: 25px;
  position: relative;
}


.auth-overlay {
  position: absolute;
  top: 50%;
  left: 10%;
  color: white;
  max-width: 300px;
}

.auth-overlay h1 {
  font-size: 2.8rem;
  margin-bottom: 15px;
}

.auth-overlay p {
  font-size: 1.2rem;
  line-height: 1.6;
}

.auth-right {
  flex: 1.2;
  background-color: #fff;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-form {
  width: 100%;
  max-width: 400px;
}

.auth-form h2 {
  font-size: 1.8rem;
  margin-bottom: 25px;
  color: #333;
}

.auth-form p {
  margin-bottom: 20px;
  font-size: 1rem;
  color: gray;
}

.form-group input {
  width: 100%;
  padding: 12px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 15px;
}

.form-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  margin-bottom: 20px;
}

.form-options a {
  color: #007bff;
  text-decoration: none;
}

.form-options a:hover {
  text-decoration: underline;
}

button {
  width: 107%;
  padding: 12px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 15px;
}

.btn-primary {
  background-color: black;
  color: white;
}

.btn-primary:hover {
  background-color: #333;
}

.btn-google {
  background-color: #4285f4;
  color: white;
}

.btn-google:hover {
  background-color: #357ae8;
}

.auth-form a {
  color: #007bff;
  text-decoration: none;
}

.auth-form a:hover {
  text-decoration: underline;
}
